<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout con Menu Laterale</title>
    <link rel="stylesheet" href="css/dim.css">
</head>
<body>
<header>
    <div th:insert="common/header :: header" ></div>
</header>
<div class="container">
    <div th:insert="common/menu :: menu" >
    </div>
    <main class="content">
        <h2>Benvenuto!</h2>
    </main>
</div>

</body>
</html>
